@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: hsl(0 0% 100%);
    --foreground: hsl(0 0% 3.9%);

    --card: hsl(0 0% 100%);
    --card-foreground: hsl(0 0% 3.9%);

    --popover: hsl(0 0% 100%);
    --popover-foreground: hsl(0 0% 3.9%);

    --primary: hsl(0 0% 9%);
    --primary-foreground: hsl(0 0% 98%);

    --secondary: hsl(0 0% 96.1%);
    --secondary-foreground: hsl(0 0% 9%);

    --muted: hsl(0 0% 96.1%);
    --muted-foreground: hsl(0 0% 45.1%);

    --accent: hsl(0 0% 96.1%);
    --accent-foreground: hsl(0 0% 9%);

    --destructive: hsl(0 84.2% 60.2%);
    --destructive-foreground: hsl(0 0% 98%);

    --border: hsl(0 0% 89.8%);
    --input: hsl(0 0% 89.8%);
    --ring: hsla(0, 0%, 4%, 0);

    --radius: 0.5rem;
  }

  .dark {
    --background: hsl(0 0% 3.9%);
    --foreground: hsl(0 0% 98%);

    --card: hsl(0 0% 3.9%);
    --card-foreground: hsl(0 0% 98%);

    --popover: hsl(0 0% 3.9%);
    --popover-foreground: hsl(0 0% 98%);

    --primary: hsl(0 0% 98%);
    --primary-foreground: hsl(0 0% 9%);

    --secondary: hsl(0 0% 14.9%);
    --secondary-foreground: hsl(0 0% 98%);

    --muted: hsl(0 0% 14.9%);
    --muted-foreground: hsl(0 0% 63.9%);

    --accent: hsl(0 0% 14.9%);
    --accent-foreground: hsl(0 0% 98%);

    --destructive: hsl(0 62.8% 30.6%);
    --destructive-foreground: hsl(0 0% 98%);

    --border: hsl(0 0% 14.9%);
    --input: hsl(0 0% 14.9%);
    --ring: hsla(0, 0%, 83%, 0);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}

.connectingLoader {
  position: relative;
  z-index: 0;
  border-radius: 2rem;
  overflow: hidden;
  padding: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.connectingLoader::before {
  content: '';
  position: absolute;
  z-index: -2;
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;
  background-color: #00000000;
  background-repeat: no-repeat;
  background-size:
    50% 50%,
    50% 50%;
  background-position:
    0 0,
    100% 0,
    100% 100%,
    0 100%;
  background-image: linear-gradient(#00000000, #00000000),
    linear-gradient(#00000000, #00000000), linear-gradient(#00000000, #00000000),
    linear-gradient(#377af5, #377af5);
  animation: rotate 1.75s linear infinite;
}

.connectingLoader::after {
  content: '';
  position: absolute;
  z-index: -1;
  left: 4px;
  top: 4px;
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  background: white;
  border-radius: 1.7rem;
}
